aiohappyeyeballs==2.6.1
aiohttp==3.13.2
aiosignal==1.4.0
amqp==5.3.1
annotated-types==0.7.0
anyio==4.13.0
asgiref==3.10.0
attrs==25.4.0
autobahn==25.10.1
Automat==25.4.16
beautifulsoup4==4.14.2
billiard==4.2.4
bitarray==3.8.1
bitstring==4.4.0
brotli==1.2.0
cachetools==6.2.2
cbor2==5.9.0
celery==5.6.0
certifi==2025.11.12
cffi==2.0.0
channels==4.3.1
channels_redis==4.3.0
charset-normalizer==3.4.4
click==8.3.1
click-didyoumean==0.3.1
click-plugins==1.1.1.2
click-repl==0.3.0
cloudinary==1.44.1
colorama==0.4.6
confuse==2.1.0
constantly==23.10.4
contourpy==1.3.3
cron_descriptor==2.0.6
cryptography==46.0.3
cssutils==2.11.1
cycler==0.12.1
daphne==4.2.1
Deprecated==1.3.1
distro==1.9.0
dj-database-url==3.1.2
Django==5.2.7
django-allauth==65.19.0
django-anymail==14.0
django-appconf==1.2.0
django-celery-beat==2.8.1
django-cloudinary-storage==0.3.0
django-environ==0.12.0
django-redis==6.0.0
django-timezone-field==7.2.1
django-user-agents==0.4.0
dotenv==0.9.9
esptool==5.2.0
exceptiongroup==1.3.1
fonttools==4.62.1
freetype-py==2.5.1
frozenlist==1.8.0
geoip2==5.1.0
git-filter-repo==2.47.0
google-ai-generativelanguage==0.6.15
google-api-core==2.31.0
google-api-python-client==2.198.0
google-auth==2.55.2
google-auth-httplib2==0.4.0
google-generativeai==0.8.6
googleapis-common-protos==1.75.0
groq==1.2.0
grpcio==1.82.1
grpcio-status
gunicorn==25.1.0
h11==0.16.0
httpcore==1.0.9
httplib2==0.32.0
httpx==0.28.1
hyperlink==21.0.0
idna==3.11
ImageIO==2.37.3
incremental==24.7.2
intelhex==2.3.0
jiter==0.16.0
kiwisolver==1.5.0
kombu==5.6.1
lxml==6.1.1
markdown-it-py==4.2.0
matplotlib==3.10.9
maxminddb==2.8.2
mdurl==0.1.2
more-itertools==10.8.0
msgpack==1.1.2
multidict==6.7.0
networkx==3.6.1
numpy==2.4.4
openai==2.46.0
packaging==25.0
pillow==11.3.0
prompt_toolkit==3.0.52
propcache==0.4.1
proto-plus==1.28.1
protobuf==5.29.6
psycopg2-binary==2.9.11
py-ubjson==0.16.1
pyasn1==0.6.1
pyasn1_modules==0.4.2
pycparser==2.23
pydantic==2.12.5
pydantic_core==2.41.5
pyglet==2.1.14
Pygments==2.20.0
PyJWT==2.13.0
PyOpenGL==3.1.0
pyOpenSSL==25.3.0
pyparsing==3.3.2
pyrender==0.1.45
pyserial==3.5
python-crontab==3.3.0
python-dateutil==2.9.0.post0
python-dotenv==1.2.1
python-paypal-api==0.1.2
PyYAML==6.0.3
qrcode==8.2
razorpay==2.0.0
redis==6.4.0
reedsolo==1.7.0
requests==2.34.2
rich==15.0.0
rich-click==1.9.7
scipy==1.17.1
service-identity==24.2.0
setuptools==80.9.0
six==1.17.0
sniffio==1.3.1
soupsieve==2.8
sqlparse==0.5.3
standardwebhooks==1.0.1
stripe==14.0.1
svix==1.89.0
tenacity==9.1.2
tibs==0.5.7
tqdm==4.68.4
trimesh==4.12.2
Twisted==25.5.0
txaio==25.9.2
types-Deprecated==1.3.1.20260130
types-python-dateutil==2.9.0.20260323
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2025.2
tzlocal==5.3.1
ua-parser==1.0.1
ua-parser-builtins==0.18.0.post1
ujson==5.12.0
uritemplate==4.2.0
urllib3==2.5.0
user-agents==2.2.0
uvicorn==0.41.0
vine==5.1.0
wcwidth==0.2.14
whitenoise==6.12.0
wrapt==2.1.2
yarl==1.22.0
zope.interface==8.0.1
